
.ipynb_checkpoints/Dating Data Wrangling -checkpoint.ipynb
okcupid_profiles.csv
derived_data/wrangled_dating_data.csv
.ipynb_checkpoints/Dating Data EDA-checkpoint.ipynb
*.csv
.ipynb_checkpoints/Dating Data PreProcessing-checkpoint.ipynb
.ipynb_checkpoints/Dating Data Modeling-checkpoint.ipynb
